.page-home {
  h5 {
    font-size: .85em;
    text-transform: uppercase;
    font-weight: normal;
    -webkit-margin-after: 0;
    margin-top: 1rem !important;
  }
  h2{
    margin-top: .25rem;
  }
  ol li{
    // font-size:1.7rem;
    padding-bottom:5%;
    margin: 0 5% 0 5%;
  }
  div.img {
    height:500px;
    width:100%;
    background-image: url('/assets/imgs/francisca-bomba.jpg');
    background-position: center;
  }
}

