<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
  -->
</ion-header>

<ion-content class="page-home" padding>
  <h5>Bienvenidx a Mijente</h5>
  <h2>A new Political home for Latinx & Chicanx organizing. For all our people. The J is for justice.</h2>
  <div class="img"></div>
    <ol>
      <li>We are Latinx and Chicanx people that are part of movements for justice and self-determination for all people.</li>
      <li>We believe transformative change requires more from us, not just more of us.</li>
      <li>We are creating a leaderful space that is accountable, transparent, and continues evolving.</li>
      <li>We organize people, technology and resources to get the goods.</li>
      <li>We are loyal to our ultimate goal of achieving el buen vivir and self-determine our future, not to singular tactics, strategies, or dogma.</li>
      <li>We don't throw each other away.</li>
      <li>We acknowledge and value that part of the work is to recover, unlearn, and remember.</li>
    </ol>
<ion-button expand="full" color="secondary" (click)="join()" >Join</ion-button>

</ion-content>
