<ion-header>
  <!--<ion-toolbar>
    <ion-title>recover</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content padding>
<h2>Recover Password</h2>
<form [formGroup]="recoverForm" (ngSubmit)="attemptSubmit()">
<ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="email" formControlName="emailAddress"></ion-input>
  </ion-item>
 <div class="error" *ngIf="recoverForm.get('emailAddress').hasError('required') && recoverForm.get('emailAddress').touched">
    Email is required
  </div>
  <ion-button expand="full" color="secondary" type="submit" [disabled]="!recoverForm.valid">Recover</ion-button>
  <div class="small-bottom">
    <p>An email will be sent to your email address asking you to recover your password.</p>
  </div>
</form>
</ion-content>
