<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>
<ion-content padding>
  <h2>Log in to Mijente</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="email" formControlName="emailaddress"></ion-input>
    </ion-item>
    <div class="error" *ngIf="loginForm.get('emailaddress').hasError('required') && loginForm.get('emailaddress').touched">
      Email is required
    </div>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
      Password is required
    </div>
    <ion-button expand="full" color="secondary" type="submit" [disabled]="loginForm.invalid">Log In </ion-button>
    <div class="medium">
      <ion-button fill="clear" color="secondary" (click)="openRecover()">Forgot Password?</ion-button>
    </div>
  </form>

</ion-content>
