.error{color:red;}

div.small{
    margin-left:30%;
  }
  div.medium{
      margin-bottom: 5%;
      text-align: center;
      font-size: .9em;
    }
  div.medium ion-button{
    text-transform: none;
  }
  div.small-bottom{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 55%;
  }
