.error{color:red;}

div.medium{
    text-align: center;
  }
  div.medium ion-button{
    text-transform: none;
  }
  div.small-bottom{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15%;
  }
