<ion-header>
  <!-- <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="attemptSubmit()">
    <ion-item>
      <ion-label  color="light" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="error" *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched">
        Name is required
    </div>
    <ion-item>
      <ion-label  color="light" position="floating">Email Address</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="error" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
        Email is required
    </div>
    <ion-item>
      <ion-label color="light" position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
        Password is required
    </div>
      <!-- <ion-item>
      <ion-label  color="light" position="floating">Verify Password</ion-label>
      <ion-input type="password" formControlName="verifiedpassword"></ion-input>
    </ion-item>   -->

    <div class="medium">
      <ion-button fill="clear" color="secondary" (click)="login()">Already a member? Log In</ion-button>
    </div>
    <div class="small-bottom">
      <p>By logging in, you agree to the Mijente<br>
      <!-- not using inAppBrowser as opening a new site is buggy right now
       <ion-button fill="clear" size="small" color="secondary" (click)="terms()">Terms of Service and Privacy Policy</ion-button>
      <ion-button (click)="handleOpenUrl('https://mijente.net/privacy-policy/')" fill="clear" color="secondary" size="small">Terms of Service and Privacy Policy</ion-button>-->
      <a href="#" onclick="window.open('https://mijente.net/privacy-policy/', '_system', 'location=yes'); return false;">Terms of Service and Privacy Policy</a>
      </p>
    </div>

    <ion-button expand="full" color="secondary" type="submit" [disabled]="registerForm.invalid">SIGN UP</ion-button>
  </form>

</ion-content>
